* {
    box-sizing: border-box;
}

.topbar {
	border-bottom: 1px solid black;
	margin: 10px;
	top:0;
	left:0;
	right:0;
	height:80px;
}

.cart{
	margin: 0px 10px;
	width: 50px;
	float: right;
	text-align: center;
	color: inherit;
	text-decoration: inherit;
}

.cart a, .cart i{
	color: inherit;
	text-decoration: inherit;
	font-size: 50px;
	cursor: pointer;
}

/* https://stackoverflow.com/questions/11438380/center-text-larger-than-container-without-using-separate-child-element */
.cart p, .home p{
	margin: 0;
	text-align: center;
    position: relative;
    left: +50%;
}

.cart p:before, .home p:before{
    content: '';
    display: inline-block;
    margin-right: -100%;
}

.home{
	margin: 0px 10px;
	width: 50px;
	float: left;
	text-align: center;
	color: inherit;
	text-decoration: inherit;
}

.home a{
	color: inherit;
	text-decoration: inherit;
	font-size: 50px;
}

/* ifame cart style */
#cartFrame{
	z-index: 1;
	position: relative;
	right: 10px;
	border: 1px solid #000;
	/*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.9), 0 1px 4px 0 rgba(0, 0, 0, 0.9);*/
	/*top*/
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	/*buttom*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;	
	border-bottom-left-radius: 5px;
	
}

#canvas {
	right: 5px;
	position: absolute;
}

#top-pointer {
	position: relative;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 25px solid #fff /*transparent*/;
	/*position: absolute;*/
	/*top: 0%;*/
	left: 80%;
	top:2px;
	filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .9));

}
