* {
    box-sizing: border-box;
}

.topbar {
    border-bottom: 1px solid black;
    margin: 10px;
	position: fixed;
    top:0;
    left:0;
    right:0;
}

.cart{
    float: right;
    position: relative;
    color: rgb(80, 0, 80);
	text-decoration: inherit;
    font-size: 50px;
}

.home{
    position: relative;
    color: rgb(80, 0, 80);
	text-decoration: inherit;
    font-size: 50px;
}
.product {
    font-family: haleboplight, Helvetica, Arial, sans-serif;
    margin-top: 80px;
    border: 5px solid rgb(80, 0, 80);
}
.container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.photo {
    text-align: center;
    margin: 10px;
    background-color: blanchedalmond;
}
.price {
    
    border: 1px solid black;
    padding: 5px;
    background-color:blueviolet;
    height: 50%;
    font-weight: bold;
    text-transform: capitalize;
}
.stock {
    
    border: 1px solid black;
    padding: 5px;
    background-color:yellow;
    height: 50%;
    font-weight: bold;
    text-transform: capitalize;
}
.name {
    
    border: 3px solid black;
    margin: auto;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    position: relative;
    width: 100%;
    background-color: bisque;
}
.description {
    margin: auto 10px 10px;;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    width: 50%;
    text-indent: 50px;
}